*, 
*::after, 
*::before 
{ 
    margin: 0; 
    padding: 0; 
    box-sizing: inherit; 
} 

body{
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
}

.bgQuestion{
    background-image: url("img/tlo.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.questionDIV{
    background-color: white;
    border: gray solid 5px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    padding: 25px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr 1fr;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px black solid;
    z-index: 3;
}




span{
    display: inline-block;
    cursor: pointer;
}

.checkedAnswer{
    color: white;
}

.popup{
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border: black solid 2px;
  width: 30%;
  z-index: 10;
}

.percent{
    background-color: darkred;
    margin-bottom:5px;
    white-space: nowrap;
}

.fiftyFifty{
    color:gold;
}

.xPopup{
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
}

.actualReward{
    margin: 2px;
}


.answers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: large;
    z-index: 3;
}

.answer {
    background-color: gold;
    padding: 20px;
    border: 1px black solid;
}



.reward{
    color: yellow;
    background-color: rgb(36, 35, 35);
    border: 1px black solid;
}

.lifeLinesAndNext{
    display:flex;
    flex-direction: column;
    border: 1px black solid;
   
}

.buttonOnGame{
    cursor: pointer;
    flex-grow: 1;
    padding: 0;
    border: 1px gray solid;
    outline: none;
    color: rgb(36, 35, 35);
    background-color: #FFFDD0;
    transition-duration: .4s;
    border: 1px lightgray solid;
}

.buttonOnGame:hover{
    background-color: gold;
    font-weight: bold;
}

.question{
    font-size: large;
    text-align: center;
	background: linear-gradient(-45deg, #d11507, #a51b0b, #7a1b0c, #2d1106);
    animation: gradient 3s ease infinite;
    background-size: 400% 400%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    color:white;
    text-shadow: black;
    width: 560px;
    height: 440px;
}

@keyframes gradient {
	0% {
        background-position: 0% 50%;
        
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
    }
}


.imgPresenter{
    background-image: url("img/hubert.png");
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 300px;
    background-size: cover;
    z-index: 0;
}

.pQuestion{
    margin: 10px;
    margin-top: 40px;
    height: 20px;
}

ol{
    font-size: large;
    text-align: center;
    list-style-type: none;
}

ol > li{
    margin: 5px 0;
}

.reward{
    color: gold;
    font-size: x-large;
    text-align: center;
}

.actualLevel{
    font-weight: bold;
    text-decoration: underline;

}

.guaranteed{
    color: orange;
    
}

.usedButton{
    color: darkgray;
    cursor: pointer;
}

.animatedReward{
    color:transparent;
    position: relative;
    z-index: 2;
    text-shadow: 2px 2px 5px black;
    bottom: -20%;
    animation: animatedReward 1.5s ease-in-out;
}

@keyframes animatedReward {
	0% {
        bottom: -20%;
        color: transparent;
    }
    50%{
        bottom: 60%;
        color: gold;
    }
	80% {
        bottom: 60%;
        color: gold;
        text-shadow: 2px 2px 5px gold;
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        bottom: 60%;
    }
}

.boardAfterGame{
    background-color: white;
    border: gray solid 5px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px black solid;
    z-index: 3;
}

.pAfterGiveUp{
    text-align: center;
    /* display: inline-block; */
    margin: 20px;
}

.fas{
    color: gold;
    width: 100%;
    margin-bottom: 20px;
    font-size: 3em;
    position: relative;
    text-align: center;
}

/* PLAY AGAIN BUTTON AND BACKGROUND BTN PLAY AGAIN */

.buttonPlayAgain{
    border: none;
    background-color: white;
    font-size: x-large;
    position: relative;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    letter-spacing: 5px;
    overflow: hidden;
    font-weight: bold;
}


.buttonPlayAgain:hover{
    color: gold;
    cursor: pointer;
}

.buttonPlayAgain:visited{
    outline:none;
}

.buttonPlayAgain:focus{
    outline: none;
}

.buttonPlayAgain::after{
    content: "";
    width: 100%;
    height:  2px;
    background-color: transparent;
    display: block;
    position: relative;
    animation: btnPlayAgainAnimation 4s ease infinite;
    z-index: 9;
}

@keyframes btnPlayAgainAnimation {
	0% {
        left: 100%;
	}
	50% {
        left: 0%;
        background-color: gold;
    }

	100% {
        left: -100%;
    }
}