*, 
*::after, 
*::before 
{ 
    margin: 0; 
    padding: 0; 
    box-sizing: inherit; 
} 

body{

    font-size: 2em;
    font-family: 'Open Sans', sans-serif;


}

.bgQuestion{
    background-image: url("img/tlo.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.questionDIV{
    background-color: white;
    border: gray solid 5px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    padding: 25px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr 1fr;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px black solid;
    
}




span{
    display: inline-block;
    cursor: pointer;
}

.checkedAnswer{
    color: white;
}

.popup{
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border: black solid 2px;
  width: 30%;
}

.percent{
    background-color: darkred;
    margin-bottom:5px;
}

.fiftyFifty{
    color:gray;
}

.xPopup{
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
}




.answers{
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: large;
}

.answer {

    background-color: gold;
    padding: 20px;
 
    
    border: 1px black solid;

}



.reward{
    color: yellow;
    background-color: rgb(36, 35, 35);
    border: 1px black solid;
}

.lifeLinesAndNext{
    background-color: green;
    display:flex;
    
    flex-direction: column;
    border: 1px black solid;
   
}

.buttonOnGame{

    flex-grow: 1;
    padding: 0;
      border: 1px gray solid;
      outline: none;
      font: rgb(255, 255, 255);
      color: inherit;
      background-color: rgb(255, 255, 255);
     
}

.question{
    font-size: large;
    text-align: center;
	background: linear-gradient(-45deg, #d11507, #a51b0b, #7a1b0c, #2d1106);
    animation: gradient 7s ease infinite;
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:white;
    text-shadow: black;
    width: 560px;


}

@keyframes gradient {
	0% {
        background-position: 0% 50%;
        
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
    }
}


.imgPresenter{
    background-image: url("img/hubert.png");
    width: 350px;
    height: 300px;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;

    
}

.pQuestion{
    margin: 10px;
    margin-top: 40px;

}

ol{
    font-size: large;
    text-align: center;
    list-style-type: none;
    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    
}

ol > li{
    margin: 5px 0;
}

.reward{
    color: gold;
    font-size: x-large;
    text-align: center;
}

.actualLevel{
    font-weight: bold;
    text-decoration: underline;

}

.guaranteed{
    color: orange;
    
}