*, 
*::after, 
*::before 
{ 
    margin: 0; 
    padding: 0; 
    box-sizing: inherit; 
} 

body{
    background-color: #87ceeb;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;

}

.bgQuestion{
  position: absolute;
  left: 50%;
  top: 50%;
}

span{
    display: inline-block;
    cursor: pointer;
}

.checkedAnswer{
    color: white;
}

.questionDIV{
    background-color: pink;
    width: 100%;
    border: gray solid 5px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    padding: 25px;
    height: 200px;
    
}

.buttonConfirmQuestion{
  
}

.popup{
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 80%;
}

.percent{
    background-color: blue;
}

.fiftyFifty{
    color:gray;
}